<div class="posts-section">
    <div class="posts-heading text-center">
        <h1>All Posts</h1>
        <h2> <%= link_to "New post", new_post_path, class: "btn btn-primary" %> </h2>
    </div>
    <div class="posts-container">
        <% @posts.each do |post| %>
            <div class="card m-4">
                <div class="card-header text-center">
                    <p class="text-muted m-0">
                        <% if signed_in? %>
                            <%= post.user.name %>
                        <% else %>
                            <%= link_to "Log in", new_user_session_path %> to see the author of this post
                        <% end %>
                    </p>
                </div>
                <div class="card-body">
                    <h1 class="card-title"> <%= post.title %> </h1>
                    <p class="card-text"> <%= post.body %> </p>
                </div>
            </div>
        <% end %>
    </div>
</div>